/* ==========================================
   STYLING FULLSCREEN IMAGE PAYROLL SERVICE
   ========================================== */
body {
  background-color: #ffff;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  /* transition: background 1s ease; */
}

.hero-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* --- HEADER CONTAINER --- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 100;
}

.logo-img {
  position: absolute;
  top: 6.38vh;
  left: 4.16vw;
  width: 9.6vw;
  height: 4.62vh;
  display: block;
  pointer-events: auto;
}

/* --- TOMBOL HOME --- */
.home-btn {
  position: absolute;
  top: 8.2vh;
  left: 92.9vw;

  height: 1vh;
  aspect-ratio: 1 / 1;

  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  pointer-events: auto;
  z-index: 101;
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}

.home-btn:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

.home-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* --- PANAH NAVIGASI --- */
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  height: 6.22vh;
  aspect-ratio: 1 / 1;

  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  pointer-events: auto;
  z-index: 20;
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}

.prev-arrow {
  left: 4.2vw;
}

.next-arrow {
  right: 4.2vw;
}

.nav-arrow:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: translateY(-50%) scale(1.05);
}

.nav-arrow img,
.nav-arrow .arrow-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.slider-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Setiap slide menutupi seluruh layar */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.6s ease-in-out,
    visibility 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide.active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

/* Gambar Fullscreen */
.full-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Gunakan 'cover' agar full layar tanpa terpotong margin, atau 'contain' jika gambar tidak boleh terpotong */
  display: block;
}
